div#right-controls span, div#left-controls span {
    background-color: #B6372D;
}

div#right-controls span:hover, div#left-controls span:hover {
    background-color: #D33120;
}

div#header #slider {
    position: absolute;
    right: 80px;
    top: 5px;
    text-align: left;
    padding: 0;
    width: 240px;
    margin: auto 0;
}

div#header #slider .ui-slider-range {
    background: #777777;
}

div#header #slider .ui-slider-handle {
    border-color: #ffffff;
    background: #B6372D;
    outline: none;
    cursor: pointer;
}

div#header #slider .ui-slider-handle:hover {
    background: #D33120;
}
div#footer a {
    color: #B6372D;
}

div#footer a:hover {
    color: #D33120;
}